<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= product.title %></h1>
       <div>
           <image src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <div>
            <p>Author: <%= product.author %></p>
        </div>
        <div>
            <h2>$<%= product.price %></h2>
            <p><%= product.description %></p>
        </div>
        <div>
            <%- include('../includes/add-to-cart.ejs') %>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>